.portfolio {
  height: fit-content;
  margin-top: 30px !important;
  
background-color: #202020;}
  /*background-image: url("../assets/bg.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.portfolio-single-card {

  
}*/

.portfolio-single-card:hover {
  /*box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 253) !important;*/
  
  transition: 1s;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.portfolio-image {
  width: 100%;
  height: 160px;
}
.portfolio-button {
  border: none;
  border-radius: 0%;
  color: black !important;
  background-color: #f72359;
  padding: 15px 25px !important ;
  margin: 10px !important;
}
a{
text-decoration: none !important;
}
.portfolio-button:hover {
  text-decoration: none !important;
  border: 2px solid #f72359;
  color: #f72359 !important;
  background-color: transparent;
  transition: 0.7s;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.categories-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:100vw;
  height: max-content;
  background-color: hotpink;
}