#root {
  width: 100%;
}


.single-single-card{
  width: 20rem;
  margin-top: 30px !important;
}

.single-single-card:hover{
  box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
}
.card-body{
  padding:3rem 0 !important;

  height: 30vh;
}
/*.single {
 height: max-content !important;
 width: 100vw  !important;
  margin-top: 20px;
 
}
.single-single-card {

  width:300px !important;
  
   background-color: none !important;

  background: none !important;
  overflow: hidden !important;
  margin-bottom: 20px !important;
  
}
.card-body{
  width: 450px;
   height: min-content;
  border:transparent;
 border-radius: 30px;
  overflow: hidden !important;
 background-color: rgb(245, 244, 244);


}

.card-body:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 253) !important;
}*/
.single-image {
  overflow: hidden;
  height: 200px;

}
.single-button {
  border: 1px solid #202020;
  border-radius: 0%;
  color: black !important;
  background-color: #f72359;
  padding: 10px 25px !important ;
  margin: 10px !important;
}

.single-button:hover {
  border: 2px solid #f72359;
  text-decoration-color: black;
  color: #202020 !important;
  background-color: transparent;
  transition: 0.7s;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

a{
  text-decoration: none;
  
}