.skills{
    width: 100vw !important;
    height: max-content;
}
.skills-row{

    margin-top: 30px !important;
}
.skillContent{
  
    margin-top: 30px !important;
}
.color-facebook {background-color: #3b5998 !important;}